###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:speasy_proxy

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_openapi3

api_doc_path = {{ 'api_docs/openapi.yaml' if api_docs == "" else api_docs }}

jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter

{{'filter-with = proxy-prefix
[filter:proxy-prefix]
use = egg:PasteDeploy#prefix
prefix = '+proxy_prefix
if proxy_prefix != ""}}

[server:main]
use = egg:waitress#main
listen = {{ host+':'+port|string }}
threads = 64
connection_limit = 128
backlog = 65536
outbuf_overflow = 16777216
asyncore_use_poll = True

{{
'trusted_proxy = 127.0.0.1
trusted_proxy_count = 1
trusted_proxy_headers = x-forwarded-for x-forwarded-host x-forwarded-proto x-forwarded-port
clear_untrusted_proxy_headers = yes' if enable_proxy
}}

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, speasy_proxy

[handlers]
keys = console, filelog

[formatters]
keys = generic

[logger_root]
level = {{ log_level or 'WARN' }}
handlers = console

[logger_speasy_proxy]
level = DEBUG
handlers = console, filelog
qualname = speasy_proxy

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = {{ log_level or 'WARN' }}
formatter = generic

[handler_filelog]
class = logging.handlers.TimedRotatingFileHandler
args = ('/log/speasy/speasy.log','W0',1,10)
level = DEBUG
formatter = generic


[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
